server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848

    gateway:
      # 路由配置
      routes:
        # 用户服务路由
        - id: user-service-route
          uri: lb://user-service
          predicates:
            - Path=/api/users/**

        # 商品服务路由
        - id: product-service-route
          uri: lb://product-service
          predicates:
            - Path=/api/products/**

        # 订单服务路由
        - id: order-service-route
          uri: lb://order-service
          predicates:
            - Path=/api/orders/**

        # 统计分析服务路由
        - id: analytics-service
          uri: lb://analytics-service
          predicates:
            - Path=/api/analytics/**

      # 启用服务发现路由
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

# 日志
logging:
  level:
    org.springframework.cloud.gateway: debug