server:
  port: 8084

spring:
  application:
    name: analytics-service

  # Nacos??
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: public
        group: DEFAULT_GROUP

# ????
logging:
  level:
    com.example.userservice: debug